/* Empty. Add your own CSS if you like */

.loser {
  border-color: #e42012;
  background-color: #ef473a;
  background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
  color: #fff;
}

.others {
  border-color: #28a54c;
  background-color: #33cd5f;
  background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);
  color: #fff;
}
